In [ ]:
import pandas as pd
df =pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")
df.head()

:

In [3]:
#What is the total Protein supply quantity in Madagascar in 2015?
data_madag = df.loc[(df.Area == 'Madagascar') & (df.Element == 'Protein supply quantity (g/capita/day)')]
data_madag['Y2015'].sum()

173.04999999999998

In [4]:
#question 3
df.groupby(['Area'], sort=True)['Y2017'].sum().head()

Area
Algeria         325644.27
Angola          229159.57
Benin           124771.22
Botswana         22101.30
Burkina Faso    101855.07
Name: Y2017, dtype: float64

In [5]:
# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?
a = df.groupby(['Element']).sum().head()
a['Y2015']

Element
Domestic supply quantity              2021493.55
Export Quantity                        157614.47
Fat supply quantity (g/capita/day)      10235.74
Feed                                   225050.22
Food                                  1232361.10
Name: Y2015, dtype: float64

In [6]:
#What is the total number of unique countries in the dataset?
a = df['Area'].unique()
a.size

49

In [7]:
#What is the total sum of Wine produced in 2015 and 2018 respectively?
data_Wine = df.loc[(df.Item == 'Wine') ]
print(data_Wine['Y2015'].sum(), data_Wine['Y2018'].sum())

4251.8099999999995 4039.3199999999997

In [8]:
#What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [9]:
# Which year had the least correlation with ‘Element Code’?
correlations = df[['Element Code', 'Y2014', 'Y2015', 'Y2016','Y2017']].corr()

# Calculate the absolute correlations and exclude the 'Element Code' row
correlations = correlations.abs().drop('Element Code', axis=0)

# Find the year with the least correlation
least_correlated_year = correlations.idxmin().values[0]
least_correlated_year

'Y2016'

In [10]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?
total_missing_2014 = df['Y2014'].isna().sum()
percentage_missing_2014 = (total_missing_2014/ len(df)) *100
print(f"Total number of missing data in 2014: {total_missing_2014}")
print(f"Percentage of missing data in 2014: {percentage_missing_2014}%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.6073544131401474%

In [11]:
#Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?
m = df.groupby(['Y2017', 'Area']).sum()
m

,,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2018
Y2017,Area,,,,,,,,,,
-1582.0,Egypt,118,5445,Sugar CropsSugar beet,10144,Stock VariationStock Variation,1000 tonnes1000 tonnes,5462.0,94.0,-1970.0,-4312.0
-1200.0,Mozambique,144,2532,Cassava and products,5072,Stock Variation,1000 tonnes,0.0,0.0,915.0,-1445.0
-1159.0,Mozambique,144,2907,Starchy Roots,5072,Stock Variation,1000 tonnes,-219.0,-3.0,915.0,-1442.0
-865.0,United Republic of Tanzania,215,2913,Oilcrops,5072,Stock Variation,1000 tonnes,2308.0,2505.0,-195.0,-14.0
-860.0,United Republic of Tanzania,215,2556,Groundnuts (Shelled Eq),5072,Stock Variation,1000 tonnes,480.0,572.0,-212.0,-61.0
...,...,...,...,...,...,...,...,...,...,...,...
96443.0,Egypt,59,2501,Population,511,Total Population - Both sexes,1000 persons,90425.0,92443.0,94447.0,98424.0
106400.0,Ethiopia,238,2501,Population,511,Total Population - Both sexes,1000 persons,98094.0,100835.0,103603.0,109224.0
112625.0,Nigeria,159,2907,Starchy Roots,5301,Domestic supply quantity,1000 tonnes,108756.0,110798.0,116483.0,117038.0
117702.0,Nigeria,159,2907,Starchy Roots,5511,Production,1000 tonnes,109593.0,111663.0,119330.0,118172.0
190873.0,Nigeria,159,2501,Population,511,Total Population - Both sexes,1000 persons,176405.0,181137.0,185960.0,195875.0

In [12]:
#What would be the output for?

S = [['him', 'sell'], [90, 28, 43]]

S[0][1][1]

'e'

In [2]:
nums = [2000,10000,500000,1000000,20000000]

def max_nums(max_):    
    max_ = max(max_)   
    return max_ 

print(max_nums(nums))

20000000

In [3]:
def fun1(num):
    return num + 25

fun1(5)
print(num)

NameError: name 'num' is not defined

In [4]:
def add(a, b):
    return a+5, b+5

result = add(3, 2)
print(result)

(8, 7)

In [5]:
def outer_fun(a, b):
    def inner_fun(c, d):
        return c + d

    return inner_fun(a, b)
    return a

result = outer_fun(5, 10)
print(result)

15

In [ ]:
class BaseClass:
  Body of base class
class DerivedClass(BaseClass):
  Body of derived class

In [ ]:
F = input(9/5 * C * + 32)

In [8]:
y =[]
lists = [2,3,4,5,6,7,7]
lists.append([3,7,9])
for x in lists:
    if x%2 == 0:
        y.append(x)
print(y)

TypeError: unsupported operand type(s) for %: 'list' and 'int'