##Preprocessing:
Perform initial data preparation by converting the 'TotalCharges' column to numeric values and filling missing values with 0.
Convert the 'Churn' column to binary values, where 'No' is mapped to 0 and 'Yes' is mapped to 1.<br>
Split the data into an 80-20 train-test split with a random state of “1”.<br>

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier
#from xgboost import XGBClassifier
#from lightgbm import LGBMClassifier
df =pd.read_csv("WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [20]:
df.shape

(7043, 21)

In [30]:
df.describe(include=object).T

                 count unique               top  freq
customerID        7043   7043        7590-VHVEG     1
gender            7043      2              Male  3555
Partner           7043      2                No  3641
Dependents        7043      2                No  4933
PhoneService      7043      2               Yes  6361
MultipleLines     7043      3                No  3390
InternetService   7043      3       Fiber optic  3096
OnlineSecurity    7043      3                No  3498
OnlineBackup      7043      3                No  3088
DeviceProtection  7043      3                No  3095
TechSupport       7043      3                No  3473
StreamingTV       7043      3                No  2810
StreamingMovies   7043      3                No  2785
Contract          7043      3    Month-to-month  3875
PaperlessBilling  7043      2               Yes  4171
PaymentMethod     7043      4  Electronic check  2365

In [21]:
 df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')

In [22]:
df["TotalCharges"].fillna(0, inplace=True)

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   float64
 20  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(17)
memory usage: 1.1+ MB

In [24]:
df.isna().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [25]:
mapping = {'No': 0, 'Yes': 1}
df["Churn"] = df["Churn"].replace(mapping)
df.Churn.head()

0    0
1    0
2    1
3    0
4    1
Name: Churn, dtype: int64

## 
Select these features:

In [26]:
# Split the data into a train-test split with a random state of 1
X = df[['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService',
          'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
          'Contract', 'PaperlessBilling', 'PaymentMethod', 'tenure', 'MonthlyCharges', 'TotalCharges']]
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

# Feature Engineering: Scaling numerical features and one-hot encoding categorical features
numerical = ['tenure', 'MonthlyCharges', 'TotalCharges']
categorical = ['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService',
               'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
               'Contract', 'PaperlessBilling', 'PaymentMethod']

# Standardize numerical features
scaler = StandardScaler()
X_train[numerical] = scaler.fit_transform(X_train[numerical])
X_test[numerical] = scaler.transform(X_test[numerical])

In [27]:
# One-hot encode categorical features
# One-hot encode categorical features and retrieve column names
encoder = OneHotEncoder(sparse=False, drop='first')
X_train_encoded = encoder.fit_transform(X_train[categorical])
X_test_encoded = encoder.transform(X_test[categorical])
# Get the column names for the one-hot encoded features
encoded_feature_names = encoder.get_feature_names_out(input_features=categorical)

X_train_encoded = pd.DataFrame(X_train_encoded, columns=encoded_feature_names)
X_test_encoded = pd.DataFrame(X_test_encoded, columns=encoded_feature_names)

# Combine scaled numerical and one-hot encoded categorical features
X_train_final = pd.concat([X_train_encoded, X_train[numerical]], axis=1)
X_test_final = pd.concat([X_test_encoded, X_test[numerical]], axis=1)

C:\Users\cyto\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [35]:
X_test_final.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2556 entries, 0 to 5154
Data columns (total 30 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   gender_Male                            1409 non-null   float64
 1   SeniorCitizen_1                        1409 non-null   float64
 2   Partner_Yes                            1409 non-null   float64
 3   Dependents_Yes                         1409 non-null   float64
 4   PhoneService_Yes                       1409 non-null   float64
 5   MultipleLines_No phone service         1409 non-null   float64
 6   MultipleLines_Yes                      1409 non-null   float64
 7   InternetService_Fiber optic            1409 non-null   float64
 8   InternetService_No                     1409 non-null   float64
 9   OnlineSecurity_No internet service     1409 non-null   float64
 10  OnlineSecurity_Yes                     1409 non-null   float64
 11  OnlineBackup_No internet service       1409 non-null   float64
 12  OnlineBackup_Yes                       1409 non-null   float64
 13  DeviceProtection_No internet service   1409 non-null   float64
 14  DeviceProtection_Yes                   1409 non-null   float64
 15  TechSupport_No internet service        1409 non-null   float64
 16  TechSupport_Yes                        1409 non-null   float64
 17  StreamingTV_No internet service        1409 non-null   float64
 18  StreamingTV_Yes                        1409 non-null   float64
 19  StreamingMovies_No internet service    1409 non-null   float64
 20  StreamingMovies_Yes                    1409 non-null   float64
 21  Contract_One year                      1409 non-null   float64
 22  Contract_Two year                      1409 non-null   float64
 23  PaperlessBilling_Yes                   1409 non-null   float64
 24  PaymentMethod_Credit card (automatic)  1409 non-null   float64
 25  PaymentMethod_Electronic check         1409 non-null   float64
 26  PaymentMethod_Mailed check             1409 non-null   float64
 27  tenure                                 1409 non-null   float64
 28  MonthlyCharges                         1409 non-null   float64
 29  TotalCharges                           1409 non-null   float64
dtypes: float64(30)
memory usage: 619.0 KB